<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i%7CIndie+Flower" media="all" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slide.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <a class="logo" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>

        <div id="load">
        <div id="fountainG"> 

            <div id="fountainG_1" class="fountainG"></div> 
            
            <div id="fountainG_2" class="fountainG"></div> 
            
            <div id="fountainG_3" class="fountainG"></div> 
            
            <div id="fountainG_4" class="fountainG"></div> 
            
            <div id="fountainG_5" class="fountainG"></div> 
            
            <div id="fountainG_6" class="fountainG"></div> 
            
            <div id="fountainG_7" class="fountainG"></div> 
            
            <div id="fountainG_8" class="fountainG"></div> 
            <div id="fountainG_9" class="fountainG"></div> 
            <div id="fountainG_10" class="fountainG"></div> 
        </div>
    </div>
            </div> 
            
  

  <nav class="navigation">

    <a href="{{ url_for('home') }}"><button class="navigation-menu-button">Acasa</button></a>
    <a href="{{ url_for('planuri') }}"><button class="navigation-menu-button">Planuri de investitii </button></a>
    <a href="{{ url_for('pasi') }}"><button class="navigation-menu-button">Pasi de urmat </button></a>
    <a href="{{ url_for('intrebari') }}"><button class="navigation-menu-button">Intrebari frecvente </button></a>
    <a href="{{ url_for('form') }}"><button class="navigation-menu-button">Contact </button></a>  
    <a href="{{ url_for('politica') }}"><button class="navigation-menu-button">Politica de confidentialitate </button></a>  
  </nav>
</header>
<!-- Slideshow container -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="slideshow-container">
<div class="mySlides fade">
<div class="fade-first-page">        {% block flash %} {% endblock %}
<h1>We are a creative design company.</h1></div>
<div class="fade-second-fpage"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Nunc vel felis velit. Vivamus pulvinar ligula velit, ac ornare lorem molestie non. <br>
  Donec ac fermentum tellus, in convallis nunc. Nulla imperdiet urna nec nibh venenatis, 
  vitae suscipit orci lobortis. Proin ornare enim tortor, quis auctor nisi fermentum ut. 
  Quisque feugiat orci quis felis venenatis, vitae blandit enim vehicula. </p></div>
  <a href="{{ url_for('.home', _anchor='about-us') }}"><button class="fpb-despre">Despre</button></a>
  <a href="{{ url_for('.home', _anchor='specialization') }}"><button class="fpb-planuri">Planuri</button></a>

<img src="{{ url_for('static', filename='img/banner.jpg') }}" style="width:100%">
</div>

<div class="mySlides fade">
<div class="fade-first-2page"><p>Hello </p></div>
<div class="fade-second-2page"><p>world</p></div>
<div class="fade-excl-2page"><p>!</p></div>

<img src="{{ url_for('static', filename='img/banner1.png') }}" style="width:100%; height: 1000px">

</div>
</div>

<br>
{% block content %}

{% endblock %}

<footer>
    <div class="footer_link">
        <a href="#proiecte" ><div class="footer-button fa fa-facebook-square"> Facebook</div></a></i>
        <a href="#proiecte"><div class="footer-button fa fa-instagram"> Instagram</div></a></i>
        <a href="#proiecte"><div class="footer-button fa fa-envelope"> Mail</div></a></i>
    </div>
    <div class="copywrite"><p>Copywrite <i class="fa fa-copyright copywright"> Zerka Design </i></p></div>
</footer>

<script src="{{ url_for('static', filename='script/script.js') }}"></script>
<script src="{{ url_for('static', filename='script/slide.js') }}"></script>
</body>
</html>