{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<section id="about-us"></section>
<div class="space"></div>
<!--About us-->

<div class="about-main">
<h1> About Us</h1>
<hr class="border-about-us">
<br>
<p>Our Development agency is committed to providing you the&nbsp;<b>best service.l</b></p>
<div class="about-main-3">

    <div class="about-1">
        <div class="about-1-fa">
            <i class="fa fa-globe" style="font-size:100px;color:cyan"></i>
        </div>
        <h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
    </div>
    <div class="about-2">
        <div class="about-2-fa"><i class="fa fa-thumbs-o-up" style="font-size:100px;color:whitesmoke"></i></div>
        <h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
    </div>
    <div class="about-3">
        <div class="about-2-fa"><i class="fa fa-compass" style="font-size:100px;color:cyan"></i></div>
        <h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
    </div>
</div>
</div>
</section>
<section id="specialization">
<div class="specialize-text">
<h1>We specialize in</h1>
</div>
<div class="specialize">

<div class="specialize-all">
<i class="fa fa-heart-o" style="font-size:100px;color:black"></i>
<h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
</div>
<div class="specialize-all">
<i class="fa fa-birthday-cake" style="font-size:100px;color:black"></i>
<h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
</div>
<div class="specialize-all">
<i class="fa fa-code" style="font-size:100px;color:black"></i>
<h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
</div>
<div class="specialize-all">
<i class="fa fa-shopping-bag" style="font-size:100px;color:black"></i>
<h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
</div>
<div class="specialize-all">
<i class="fa fa-diamond" style="font-size:100px;color:black"></i>
<h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
</div>
<div class="specialize-all">
<i class="fa fa-glass" style="font-size:100px;color:black"></i>
<h1>Lorem Ipsum</h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Proin et nulla in dolor mattis finibus. Phasellus ut laoreet justo.</p>
</div>
</div>
</section>
<div class="space"></div>
{% endblock %}