{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="space"></div>
  <!--Packet section-->

<section id="planuri">
  <div style='clear:both'></div>
  <div class='sora-about-box' id='section-6'>
  <div class='about-wrap row'>
  <div class='about-title'>
  <h4><i class="fa fa-shopping-cart" style="font-size:36px; padding-right: 1rem;"></i>Pricing</h4>
  </div>
  <div style='clear: both;'></div>
  <div id='pricing'>
  <div class='price_card alpha '>
  <div class='price_card_wrap'>
  <div class='header'>
  <span class='price'>$10</span>
  <span class='name'>Alpha Pack</span>
  </div>
  <ul class='features'>
  <li>Complete documentation</li>
  <li>Working materials in PSD and Sketch format</li>
  </ul>
  <a href="https://plansforinvest.blogspot.com"><button>Add to cart</button></a>
  <span class='tip'>* Great for beginners!</span>
  </div>
  </div>
  <div class='price_card bravo wow fadeInLeft' data-wow-delay='0.5s' data-wow-duration='1s' style='visibility: visible; animation-duration: 1s; animation-delay: 0.5s;'>
  <div class='price_card_wrap'>
  <div class='header'>
  <span class='price'>$15</span>
  <span class='name'>Bravo Pack</span>
  </div>
  <ul class='features'>
  <li>Complete documentation</li>
  <li>Working materials in PSD, Sketch and EPS format</li>
  <li>6 months access to the library</li>
  </ul>
  <button>Add to cart</button>
  <span class='tip'>* Most popular!</span>
  </div>
  </div>
  <div class='price_card charlie wow fadeInLeft' data-wow-delay='0.8s' data-wow-duration='1s' style='visibility: visible; animation-duration: 1s; animation-delay: 0.8s;'>
  <div class='price_card_wrap'>
  <div class='header'>
  <span class='price'>$25</span>
  <span class='name'>Charlie Pack</span>
  </div>
  <ul class='features'>
  <li>Complete documentation</li>
  <li>Working materials in PSD, Sketch and EPS format</li>
  <li>1 year access to the library</li>
  <li>2GB cloud storage</li>
  </ul>
  <button>Add to cart</button>
  </div>
  </div>
  </div>
  </div></div>
  <div style='clear: both;'></div>
  <div class='map-me-full wow bounceInUp' style='visibility: visible;'>
  <div id='map'></div>

{% endblock %}


