<style>
h1{
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.info>p{
    margin-left: 2rem;
    font-size: 1rem;
}
.info>h4{
    margin-left: 1rem;
    font-size: 2rem;
}
.info>h1{
    font-size: 2rem;
}
img{
    display: inline;

    width: 12rem;
    height: 12rem;
}
</style>
<img src="{{ url_for('static', filename='img/logo.png') }}">


<h1> {{ request.form.get('subject') }} </h1>

<div class="info">
    <h4>Nume:</h4>
    <p> {{ request.form.get('name') }} </p>

    <h4>Telefon:</h4>
    <p> {{ request.form.get('phone') }} </p>

    <h4>E-mail:</h4>
    <p> {{ request.form.get('email') }} </p>

    <h4>Subiect:</h4>
    <p> {{ request.form.get('subject') }} </p>

    <h4>Message:</h4>
    <p> {{ request.form.get('message') }} </p>
</div>
